.newform {
    background-color: lightblue;
    border: 1px solid grey;
    border-radius: 10px;
    height: 30%;
    padding: 10px;
    margin: 10% 35% 0% 35%;    
}

.newform h2 {
    text-align: center;
}

.error {
    color: #FF0000;
}